.new-feed
  .row
    - @feeds.each do |feed|
      - if feed.is_a?(Photo)
        .col-6
          .card.mb-3.feed
            .card-body.row.py-1
              .col-7.p-0.feed-photo
                = image_tag feed.image_url(:thumb), class: "feed-image"
              .col-5.p-0.feed-content.pl-2
                .user-post = feed.user.firstname + ' ' + feed.user.lastname
                .title.text-bold = feed.title
                .description.mb-2 = feed.description
                small.public.text-secondary = feed.created_at.strftime("%l:%M %P %d/%m/%Y")
            button.button-show-modal data-toggle="modal" data-target="#_#{feed.id}_photo"

        .modal.fade aria-hidden="true" aria-labelledby="exampleModalLabel" id="_#{feed.id}_photo" role="dialog" tabindex="-1"
          .modal-dialog role="document"
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  = feed.title
                button.close aria-label="Close" data-dismiss="modal" type="button"
                  span aria-hidden="true"  ×
              .modal-body
                div id="carouselExampleControls_#{feed.id}" class="carousel slide" data-ride="carousel"
                  .carousel-inner
                    = image_tag feed.image_url, class: "post-image"
              .modal-footer
                = feed.description
      - else
        .col-6
          .card.mb-3.feed
            .card-body.row.py-1
              .col-7
                -if feed.photos.exists?
                  = image_tag feed.photos.first.image_url(:thumb), class: "feed-image-4"
                  .feed-album
                    = image_tag feed.photos.first.image_url(:thumb), class: "feed-image-1"
                    = image_tag feed.photos.first.image_url(:thumb), class: "feed-image-2"
                    = image_tag feed.photos.first.image_url(:thumb), class: "feed-image-3"
              .col-5.p-0.feed-content
                .user-post = feed.user.firstname + ' ' + feed.user.lastname
                .title.text-bold = feed.title
                .description.mb-2 = feed.description
                small.public.text-secondary = feed.created_at.strftime("%l:%M %P %d/%m/%Y")
              button.button-show-modal data-toggle="modal" data-target="#_#{feed.id}_album"

        .modal.fade aria-hidden="true" aria-labelledby="exampleModalLabel" id="_#{feed.id}_album" role="dialog" tabindex="-1"
          .modal-dialog role="document"
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  = feed.title
                button.close aria-label="Close" data-dismiss="modal" type="button"
                  span aria-hidden="true"  ×
              .modal-body
                div id="carouselExampleControls_#{feed.id}" class="carousel slide" data-ride="carousel"
                  .carousel-inner
                    -if feed.photos.exists?
                      - img = feed.photos.sort_by {|record| record.updated_at}.reverse
                      .carousel-item.active
                        = image_tag img.first.image_url, class: "post-image"
                      - img.slice(1..-1).each do |img|
                        .carousel-item
                          = image_tag img.image_url, class: "post-image"
                  a.carousel-control-prev data-slide="prev" href="#carouselExampleControls_#{feed.id}" role="button"
                    span.carousel-control-prev-icon aria-hidden="true"
                    span.sr-only Previous
                  a.carousel-control-next data-slide="next" href="#carouselExampleControls_#{feed.id}" role="button"
                    span.carousel-control-next-icon aria-hidden="true"
                    span.sr-only Next
              .modal-footer
                = feed.description