= form_for(@user, url: admin_path(@user.id), html: { method: :put }, namespace:"information") do |form|
  .form-signin
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          - if @user.avatar?
            = image_tag @user.avatar_url(:thumb), id: "img_prev", class: "img-thumbnail avatar"
          - else
            = image_tag "avatar-login.png", id: "img_prev", class: "img-thumbnail avatar"
          = form.file_field :avatar, onchange: "window.readURL(this);", class: "upload-avatar"
    .form-group.basic-information
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          span.text-bold Basic Information
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:firstname))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.text_field :firstname, class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:lastname))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.text_field :lastname, class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:email))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.text_field :email, class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:password))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.password_field :password, class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.submit t(:save), class: "save-button"