table.table.table-hover.table-responsive-lg
  thead
    tr
      th scope="col"  = t(:firstname)
      th scope="col"  = t(:lastname)
      th scope="col"  = t(:email)
      th scope="col"  = t(:last_login)
      th scope="col"
      th scope="col"
  tbody
    - @users.each do |user|
      tr
        td = user.firstname
        td = user.lastname
        td = user.email
        td = user.last_sign_in_at.strftime(" %I:%M%p %d/%m/%Y")
        td = link_to '<button class="edit-manage-user" type="button">Edit</button>'.html_safe, edit_admin_path(user.id)
        td = link_to '<button class="delete-manage-user" type="button">Delete</button>'.html_safe, admin_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }
