.container
  .row
    .col-4
    .col-4.text-center
      h2.text-center.login-title.fotobook-signup
        = t(:fotobook_login)
      .account-wall
        = image_tag "avatar-login.png", class: "avatar-login"
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
          = devise_error_messages!
          .form-group
          = form.text_field :email, class: "form-control", placeholder: "Email", autofocus: true
          .form-group
          = form.password_field :password, class: "form-control", placeholder: "Password"
          / .form-group
          / - if devise_mapping.rememberable?
          /   = form.check_box :remember_me
          /   = form.label :remember_me
          .form-group
          = form.submit t(:login), class: "btn btn-primary mb-2"
          .form-group
          = link_to "Forgot password?", new_user_password_path
      br
      = link_to "Create an account", new_user_registration_path(resource)