body {
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .left-page {font-size:16px;}
  .add-new-photo, .add-new-album {
    padding-left: 80%;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .left-page {font-size:12px;}
  .add-new-photo, .add-new-album {
    padding-left: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .left-page {font-size:10px;}
  .add-new-photo, .add-new-album {
    padding-left: 60%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .left-page {font-size:8px;}
  .add-new-photo, .add-new-album {
    padding-left: 50%;
  }
}
@media (max-width: 575px) {
  .left-page {font-size: 5px;}
  .add-new-photo, .add-new-album {
    padding-left: 0%;
  }
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #3d5999;
  color: white;
}

a:hover {
  text-decoration: none;
}
.alert {
  margin-bottom: 0px;
}
.navbar-brand:hover {
  color: white;
}
.header {
  height: 40px;
  background-color: #3d5999;
  color: white;
}
.navbar-brand {
  font-weight: bold;
}
.search {
  height: 80%;
}
.user-name {
  color: white;
  padding-right: 20px;
  font-size: 14px;
}
.user-name:hover {
  color: white;
}
.bg {
  background-color: #DDDDDD;
}
.main-content {
  margin:10px;
  padding-top: 15px;
  background-color: #FFFFFF;
  border-radius: 2px;
  min-height: 1000px;
}
.right-header {
  padding-top: 5px;
}
.left-page {
  margin: 10px 0;
}
.avatar-header {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.page {
  padding-left: 35%;
}