nav.navbar.navbar-expand-lg.navbar-dark
  .container
    button.navbar-toggler aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarTogglerDemo02" data-toggle="collapse" type="button"
      span.navbar-toggler-icon

    #navbarTogglerDemo02.collapse.navbar-collapse
      - if (user_signed_in? && current_user.admin == true)
        = link_to t(:fotobook_admin), root_path, class: "navbar-brand mb-0 h2"
      - else
        = link_to t(:fotobook), root_path, class: "navbar-brand mb-0 h2"
      form.form-inline.form-search.my-2.my-lg-0
        input.form-control.mr-sm-2.search placeholder="Search Photo/ Album" type="Search"
      .nav-item.ml-auto
        - if user_signed_in?
          - if current_user.avatar?
            span = image_tag current_user.avatar_url(:thumb), class: "img-thumbnail avatar-header"
          -else
            span = image_tag "avatar-login.png", class: "img-thumbnail avatar-header"
          span
            = link_to current_user.firstname + " " + current_user.lastname || 'User name', edit_user_registration_path, class: "user-name text-bold"
          span
            = link_to t(:logout), destroy_user_session_path, method: :delete, class: "user-name text-bold"
        - else
          span
            = link_to t(:login), new_user_session_path, class: "user-name text-bold"

