#flash-message
  - flash.each do |name, msg|
    - if msg.class == Array
      - msg.each do |message|
          - if name == "alert"
            = content_tag :div, message, id: "flash_#{name}", class: "alert alert-danger text-center", role: "alert"
          - else
            = content_tag :div, message, id: "flash_#{name}", class: "alert alert-success text-center", role: "alert"
    - else
      - if name == "alert"
        = content_tag :div, msg, id: "flash_#{name}", class: "alert alert-danger text-center", role: "alert"
      - else
        = content_tag :div, msg, id: "flash_#{name}", class: "alert alert-success text-center", role: "alert"