.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.post {
  margin-bottom: 20px;
  position: relative;

}
.index-img-content {
  position: relative;
  z-index: 2
}
.index-img-title {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #919191;
  color: white;
  padding: 5px 40px 5px 10px;
  border-radius: 2px 2px 0px 0px;
}
.index-img-edit {
  position: absolute;
  top: 0%;
  left: 85%;
}
.post-image {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.post-album {
  position: absolute;
  z-index: 1;
  top: 0%;
  min-height: 100%;
  min-width: 100%;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.post-image-1 {
  transform: rotate(10deg);
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%
}
.post-image-2 {
  transform: rotate(5deg);
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%
}
.post-image-3 {
  transform: rotate(0deg);
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%
}
.post-image-4 {
  max-height: 100%;
  max-width: 100%;
  opacity: 0.001;
  z-index: 3;
}
.edit-icon {
  height: 30px;
  width: 30px;
}
.button-add-photo {
  color: white;
  background-color: #389653;
  border-radius: 2px;
  border: none;
  padding: 2px 10px;
}
.private-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 30%;
  background-color: white;
  top: 90%;
  left: 85%;
}
.button-show-modal {
  position: absolute;
  width: 100%;
  height: 85%;
  left: 0%;
  top: 15%;
  opacity: 0.001;
}

.modal-footer {
  justify-content: left;
}

