.text-bold {
  font-weight: bold;
}
.edit-photo-content {
  margin-bottom: 0;
}
.photo-title {
  width: 100%;
  padding: 5px;
}
#photo_mode {
  width: 50%;
  height: 30px;
  background-color: white;
  margin-bottom: 15px;
  padding: 5px;
}
#photo_description {
  width: 100%;
  padding: 5px;
}
.img-preview {
  height: 200px;
  width: 200px;
  border: 3px solid #BBBBBB;
  border-style: dashed;
  position: absolute;
}
.image-upload {
  height: 200px;
  width: 200px;
}
#photo_image {
  height: 200px;
  width: 200px;
  position: absolute;
  opacity: 0.01;
  border: none;
}
.save-button {
  margin-top: 20px;
  background: #389653;
  border: 1px;
  color: white;
  border-radius: 2px;
  width: 70px;
}
.delete-button {
  background-color: #ea4e4e;
  border: 1px;
  color: white;
  border-radius: 2px;
  width: 70px;
  margin-left: 50px;
}
.add-delete-button {
  position: absolute;
  top: 490px;
  left: 145px;
}
.button-back {
  color: white;
  background-color: #3d5999;
  border-radius: 2px;
  border: none;
  padding: 2px 10px;
}
