= form_for album, html: { multipart: true } do |f|
  - if album.errors.any?
    #error_explanation.alert.alert-warning.alert-dismissible.fade.show role="alert"
      h3
        = pluralize(album.errors.count, "error")
        | prohibited this album from being saved:
      ul
        - album.errors.full_messages.each do |message|
          li= message
  .row
    .col-sm-6.col-12
      .form-group
        .text-bold
          = f.label t(:title)
        = f.text_field :title, placeholder: "Album Title", class: "album-title"

      .form-group
        .text-bold
          = f.label t(:mode)
        = f.select "mode",
          options_for_select([ "Public", "Private" ])
    .col-sm-6.col-12
      .form-group
        .text-bold
          = f.label t(:description)
        = f.text_area :description, rows: "4",placeholder: "Album Description"

  .row.all-image-of-album
    - if album.photos.exists?
      - album.photos.each do |image|
        .col-md-3.col-sm-4.col-6.p-0
          = image_tag image.image_url(:thumb), class: "img-thumbnail preview-album-image"
          = link_to image_tag("delete.png", class: "icon-delete"), album_photo_path({album_id: album.id, id: image.id, redirect_path: edit_album_path}), method: :delete, data: { confirm: 'Are you sure?' }, class: "link-delete"

      .col-md-3.col-sm-4.col-6.add-photo-to-album.p-0.gallery
        = image_tag "plus-icon", class: "img-thumbnail icon-plus img-preview"
        = file_field_tag :image, multiple: true, name: "photos[image][]", id: "gallery-photo-add", class: "add-image-area"

    - else
      .col-md-3.col-sm-4.col-6.add-photo-to-album.p-0.gallery
        = image_tag "plus-icon", class: "img-thumbnail icon-plus img-preview"
        = file_field_tag :image, multiple: true, name: "photos[image][]", id: "gallery-photo-add", class: "add-image-area"

  .form-group.save-button-album
    = f.submit t(:save), class: "save-button"
    - if (params[:action] == "edit")
      = link_to '<button class="delete-button" type="button">Delete</button>'.html_safe, album_path(album.id), method: :delete, data: { confirm: 'Are you sure?' }

