.container-fluid
  .row
    .col-md-10
      p.text-bold.edit-photo-content
        = t(:edit_album)
    .col-md-2
      = button_to t(:back), albums_path, method: :get, class: "button-back"
hr
.container-fluid
  = render "albums/form", album: @album

