.add-new-album
  = button_to t(:add_new_album), new_album_path, method: :get, class: "button-add-album"
hr
.container-fluid
  .row
    - @albums.each do |album|
      -if album.photos.exists?
        .col-md-3.col-sm-4.col-6
          .post
            .post-album
              = image_tag album.photos.first.image_url(:thumb), class: "post-image-1"
              = image_tag album.photos.first.image_url(:thumb), class: "post-image-2"
              = image_tag album.photos.first.image_url(:thumb), class: "post-image-3"
              button.button-show-modal data-toggle="modal" data-target="#_#{album.id}"
            = image_tag "private-icon", class: "private-icon" if album.mode == "Private"
            .index-img-content
              .index-img-title
               = album.title
              .index-img-edit
                = link_to image_tag("edit-icon.png", class: "edit-icon"), edit_album_path(album.id)
            = image_tag album.photos.first.image_url(:thumb), class: "post-image-4"


        .modal.fade aria-hidden="true" aria-labelledby="exampleModalLabel" id="_#{album.id}" role="dialog" tabindex="-1"
          .modal-dialog role="document"
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  = album.title
                button.close aria-label="Close" data-dismiss="modal" type="button"
                  span aria-hidden="true"  ×
              .modal-body
                div id="carouselExampleControls_#{album.id}" class="carousel slide" data-ride="carousel"
                  .carousel-inner
                    - img = album.photos.sort_by {|record| record.updated_at}.reverse
                    .carousel-item.active
                      = image_tag img.first.image_url, class: "post-image"
                    - img.slice(1..-1).each do |img|
                      .carousel-item
                        = image_tag img.image_url, class: "post-image"
                  a.carousel-control-prev data-slide="prev" href="#carouselExampleControls_#{album.id}" role="button"
                    span.carousel-control-prev-icon aria-hidden="true"
                    span.sr-only Previous
                  a.carousel-control-next data-slide="next" href="#carouselExampleControls_#{album.id}" role="button"
                    span.carousel-control-next-icon aria-hidden="true"
                    span.sr-only Next
              .modal-footer
                = album.description
.page
  = paginate @albums