.new-feed {
  .feed {
    background-color: #f7f7f7;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    .button-show-modal {
      position: absolute;
      width: 58%;
      height: 100%;
      left: 0%;
      top: 0%;
      opacity: 0.001;
    }
    .feed-photo {
      .feed-image {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .feed-content {
      .user-post {
        font-weight: bold;
        color: #0366d6;
      }
      .description {
        height: 180px;
        overflow-y: scroll;
      }
    }
    .feed-album {
      position: static;
      .feed-image-1 {
        transform: rotate(10deg);
        position: absolute;
        top: 5%;
        left: 5%;
        height: 80%;
        width: 80%
      }
      .feed-image-2 {
        transform: rotate(5deg);
        position: absolute;
        top: 5%;
        left: 5%;
        height: 80%;
        width: 80%
      }
      .feed-image-3 {
        transform: rotate(0deg);
        position: absolute;
        top: 5%;
        left: 5%;
        height: 80%;
        width: 80%
      }
    }
    .feed-image-4 {
      max-height: 100%;
      max-width: 100%;
      opacity: 0.001;
    }
  }
}

.sidebar {
  a {
    display: block;
    padding: .25rem 1.5rem;
  }
}