= form_for photo, html: { multipart: true } do |f|
  - if photo.errors.any?
    #error_explanation.alert.alert-warning.alert-dismissible.fade.show role="alert"
      h3
        = pluralize(photo.errors.count, "error")
        | prohibited this photo from being saved:
      ul
        - photo.errors.full_messages.each do |message|
          li= message
  .row
    .col-sm-6.col-12
      .form-group
        .text-bold
          = f.label t(:title)
        = f.text_field :title, placeholder: "Photo Title", class: "photo-title"

      .form-group
        .text-bold
          = f.label t(:mode)
        = f.select "mode",
          options_for_select([ "Public", "Private" ])

    .col-sm-6.col-12
      .form-group
        .text-bold
          = f.label t(:description)
        = f.text_area :description, rows: "4",placeholder: "Photo Description"

  .form-group.image-upload
    - if photo.image?
      = image_tag photo.image_url(:thumb), id: "img_prev", class: "img-thumbnail img-preview"
    -else
      = image_tag "plus-icon", id: "img_prev", class: "img-thumbnail img-preview"
    = f.file_field :image, onchange: "window.readURL(this);"
  .form-group
    = f.submit t(:save), class: "save-button"
    - if (params[:action] == "edit")
      = link_to '<button class="delete-button" type="button">Delete</button>'.html_safe, photo_path(photo.id), method: :delete, data: { confirm: 'Are you sure?' }

