.row
  .col-md-10
    p.text-bold.edit-photo-content
      = t(:edit_photo)
  .col-md-2
    = button_to t(:back), photos_path, method: :get, class: "button-back"
hr

= render "photos/form", photo: @photo

