.add-new-photo
  = button_to t(:add_new_photo), new_photo_path, method: :get, class: "button-add-photo"
hr
.row
  - @photos.sort.each do |photo|
    .col-md-3.col-sm-4.col-6.post
      .index-img-content
        .index-img-title
         = photo.title
        .index-img-edit
          = link_to image_tag("edit-icon.png", class: "edit-icon"), edit_photo_path(photo.id)

      = image_tag photo.image_url(:thumb), class: "post-image"
      button.button-show-modal data-toggle="modal" data-target="#_#{photo.id}"

      = image_tag "private-icon", class: "private-icon" if photo.mode == "Private"

    .modal.fade aria-hidden="true" aria-labelledby="exampleModalLabel" id="_#{photo.id}" role="dialog" tabindex="-1"
      .modal-dialog role="document"
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title
              = photo.title
            button.close aria-label="Close" data-dismiss="modal" type="button"
              span aria-hidden="true"  ×
          .modal-body
            = image_tag photo.image_url, class: "post-image"
          .modal-footer
            = photo.description

.page.text-center
  = paginate @photos