.row
  .col-4.offset-4
    p.forgot.text-center.text-bold
      | Forgot your password?

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      - if resource.errors.any?
        #error_explanation.alert.alert-warning.alert-dismissible.fade.show role="alert"
          = devise_error_messages!

      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Email", class: "form-control"

      .form-group
        = f.submit "  Send me reset password instructions ", class: "btn btn-secondary"