.error {
  color: red;
  font-size: 14px;
  display: block;
  clear: both;
}
.new_user
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{

    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: blue;
    font-size: 24px;
    font-weight: bold;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.btn-primary {
    margin-left: 30%;
    margin-right: 30%;
}
.text-center {
 text-align: center;
}
.fotobook-signup {
  margin-top: 30px;
  margin-bottom: 15px;
}
.avatar-login {
  text-align: center;
  margin-top: 30px;
  height: 80px;
  width: auto;
  border-radius: 50%;
}
.basic-information {
  margin-top: 170px;
}
.avatar {
  height: 150px;
  width: 150px;
  position: absolute;
}
.upload-avatar {
  position: absolute;
  height: 150px;
  width: 150px;
  opacity: 0.01;
}
.edit-manage-user {
  background-color: #389653;
  color: white;
  border: none;
}
.delete-manage-user {
  background-color: #ea3f3d;
  color: white;
  border: none;
}
.forgot {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 27px;
}