.album-title {
  width: 100%;
  padding: 5px;
}
#album_mode {
  width: 50%;
  height: 30px;
  background-color: white;
  margin-bottom: 15px;
  padding: 5px;
}
#album_description {
  width: 100%;
  padding: 5px;
}
.album-upload-image {
  height: 200px;
  width: 200px;
  position: absolute;
  opacity: 0.01;
  border: none;
}

.save-button-album {
  margin-top: 200px;
}
.delete-album-button {
  background-color: red;
  border: 1px;
  color: white;
  border-radius: 2px;
  width: 70px;
  margin-left: 30px;
}
.add-image-area {
  height: 200px;
  width: 200px;
  opacity: 0.01;
  position: absolute;
}
.add-photo-to-album {
  position: relative;
}
.icon-plus {
  position: absolute;
}

.preview-album-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
img > .col-3 {
  margin: 5px;
}
.delete-album {
  position: absolute;
  bottom: 2.1%;
  left: 20%;
}
.icon-delete {
  height: 20px;
  width: 20px;
}
.link-delete {
  position: absolute;
  right: 5%;
}