p.text-bold
  | Edit User Profile
hr
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, namespace:"information") do |form|
  - if resource.errors.any?
    #error_explanation.alert.alert-warning.alert-dismissible.fade.show role="alert"
      = devise_error_messages!

  .form-signin
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          - if resource.avatar?
            = image_tag resource.avatar_url(:thumb), id: "img_prev", class: "img-thumbnail avatar"
          - else
            = image_tag "avatar-login.png", id: "img_prev", class: "img-thumbnail avatar"
          = form.file_field :avatar, onchange: "window.readURL(this);", class: "upload-avatar"
    .form-group.basic-information
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          span.text-bold Basic Information
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:firstname))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.text_field :firstname, class: "form-control"
    .form-group
        .row
          .col-md-4.col-sm-4.col-4.text-right.text-bold
            = form.label( t(:lastname))
          .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
            = form.text_field :lastname, class: "form-control"
    .form-group
        .row
          .col-md-4.col-sm-4.col-4.text-right.text-bold
            = form.label( t(:email))
          .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
            = form.text_field :email, class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.submit t(:save), class: "save-button"

hr
.row
  .col-md-4.col-sm-4.col-4
  .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
    p.text-bold Password
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, namespace:"password") do |form|
  - if resource.errors.any?
    #error_explanation.alert.alert-warning.alert-dismissible.fade.show role="alert"
      = devise_error_messages!
  = form.hidden_field :reset_password_token
  .form-signin
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label t(:current_password)
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.password_field :current_password, autocomplete: "current-password", class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:new_password))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.password_field :password, class: "form-control"
    .form-group
      .row
        .col-md-4.col-sm-4.col-4.text-right.text-bold
          = form.label( t(:password_confirmation))
        .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
          = form.password_field :password_confirmation, class: "form-control"
    .form-group
        .row
          .col-md-4.col-sm-4.col-4
          .col-md-5.col-sm-6.col-8.offset-col-md-3.offset-col-sm-2
            = form.submit t(:save), class: "save-button"
