.container
  .row
    .col-3
    .col-6
      h3.text-center.login-title.fotobook-signup
        = t(:fotobook_signup)
      .account-wall
        .form-signin
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form|
            = devise_error_messages!
            .form-group
            = form.label( t(:firstname))
            = form.text_field :firstname, autofocus: true, class: "form-control"
            .form-group
            = form.label( t(:lastname))
            = form.text_field :lastname, class: "form-control"
            .form-group
            = form.label( t(:email))
            = form.text_field :email, class: "form-control"
            .form-group
            = form.label( t(:new_password))
            = form.password_field :password, class: "form-control"
            .form-group
            = form.label( t(:password_confirmation))
            = form.password_field :password_confirmation, class: "form-control"
            .form-group
            = form.submit t(:signup), class: "btn btn-primary mb-2"